body {
  background-image: url(/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  /* commento */
}

header {
  text-align: left;
}

header img {
  width: 15%;
  padding: 45px 0px 30px 80px;
}

.title-pag h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  color: white;
  margin-bottom: 16px;
  margin-top: 16px;
}

.title-pag p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  margin-inline: 34%;
}

.stars {
  padding-top: 13px;
  padding-bottom: 30px;
}

.stars i {
  font-size: 50px;
  cursor: pointer;
  transition: color 0.3s;
  color: #4b4c53;
}

.stars i.active {
  color: #00ffff;
}

.stars i.selected1 {
  color: #00ffff;
}

footer p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
}

.valuestar {
  color: white;
  margin-top: 0;
  font-style: italic;
  margin-bottom: 40px;
}

input,
textarea {
  border: none;
  outline: none;
}

#comment {
  background-color: transparent;
  border-color: blueviolet;
}
.comment-section {
  border-bottom: 3px solid #d20094;
  width: 50%;
  margin: auto;
  text-align: left;
  padding-left: 25px;
  padding-bottom: 5px;
  font-weight: bold;
}
.comment-section input {
  background-color: transparent;
  border: none;
  color: white;
}

.info-button {
  margin-top: 30px;
}
.info-button button {
  background-color: #00ffff;
  border: none;
  cursor: pointer;

  padding: 16px 40px;
  font-weight: bold;
  color: #0b113b;
  box-shadow: -0px 1px 7px 2px aqua;
}

#button:hover {
  box-shadow: -0px 1px 20px 2px aqua;
}
